build/
bin/
lib/
*__pycache__*
*.swp
*.swo
*.DS_Store
*Makefile
*CMakeFiles/
*cmake_install.cmake
.ccls-cache/
.ninja*
*.ninja
generated/
CMakeCache.txt
doc
pwtk*
*.tns
apps/tensor_times_vector/tensor_times_vector
build/*
PochiVM/build/*
PochiVM/main
pochi_libs_and_includes/*